<?xml version="1.0" encoding="utf-8"?>
<!--
  MT2009 PLUS Patcher - ustawienia (plik obok programu: MT2009-Patcher.exe.config).
  Brak pliku albo brak klucza = wartość wbudowana w program (te same co tutaj).
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- true = adresy Clientdata/Patchlist/News/Slider/Stats są zaszyfrowane (CryptoService). -->
    <add key="PatchServerSettingsCrypted" value="false" />
    <!-- true = patcher zamyka się po uruchomieniu gry. -->
    <add key="CloseOnClientStart" value="true" />
    <!-- Lewe przyciski: strona, Discord, "Postaw kawę" (pusty = przycisk ukryty). -->
    <add key="Homepage" value="https://metin2sp.pl" />
    <add key="Discord" value="https://discord.com/invite/vGE3T9gpm" />
    <add key="Vote4Coins" value="https://buycoffee.to/mt2009plus" />
    <!-- Serwer aktualizacji: plik pobierany = Clientdata + "uid" z listy. -->
    <add key="Clientdata" value="http://141.94.100.53/patcher/files/" />
    <add key="Patchlist" value="http://141.94.100.53/patcher/patchlist.json" />
    <add key="News" value="http://141.94.100.53/patcher/news.json" />
    <!-- Nieużywane w tej wersji (oryginał też ich nie używał w oknie). -->
    <add key="Slider" value="" />
    <add key="Stats" value="" />
    <add key="Update" value="" />
    <!-- Przycisk z zębatką: program w folderze klienta; brak pliku = przycisk ukryty. -->
    <add key="Config" value="config.exe" />
    <!-- Gra. StartToken=true dokłada argument-token oryginału (klient MT2009 go nie potrzebuje). -->
    <add key="Start" value="metin2client.exe" />
    <add key="StartToken" value="false" />
  </appSettings>
</configuration>
