@CHARSET "UTF-8";

#optionsSlider {position:relative;top:-148px; left:0px; width:740px; height:140px; background-color:#ccc; background:url(gf1.geo.gfsrv.net/cdnc5/8d48a1de0d5c0eec9fb37226a99549.png) repeat-x transparent;}
#optionsBar { bottom:100px; left:0px; width:740px; display:block; height:18px; color:#fff; font-size:11px; font-family:Arial,sans-serif; font-weight:bold; outline:none; cursor: pointer; }
